.dashboard-container {
  background: black;
  width: 100%;
  height: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.dashboard-logo {
  width: auto;
  height: 8vh;
  margin: auto 0 auto 2%;
}

.dashboard-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.dashboard-menu-buttons {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  margin-bottom: 1.5vh;
}

.dashboard-menu-button {
  height: 5vh;
  width: 10.5vw;
  align-self: flex-end;

  &.active {
    width: 20vw;
  }
}

#inRoom-backToLobby-button {
  width: 10.5vw;
}

#inRoom-ready-button {
  width: 20vw;

  &.active {
    background-color: white;
    color: black;
  }

  &.inactive {
    background: black;
    color: white;
  }
}

#inRoom-ready-button:hover {
  background-color: white;
  color: black;
}

.dashboard-user-section {
  color: white;
  width: auto;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1vw;
  margin-bottom: 1.5vh;
}

.dashboard-user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  margin: 1vh 0;
}

.dashboard-user-info-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dashboard-user-info-name {
  font-size: 1.2em;
  font-weight: bold;
}

#logout-button-dashboard {
  height: 5vh;
}
