.dashboard-container {
  background: black;
  width: 100%;
  height: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.dashboard-logo {
  width: auto;
  height: 8vh;
  margin: auto 0 auto 2%;
}

.dashboard-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
}

.dashboard-menu-buttons {
  width: auto;
  height: 7vh;
  align-self: center;
  margin: 3% 0 0 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-menu-button {
  height: 60%;
  width: 14vh;
  margin: 0 3% -3%;
  align-self: flex-end;

  &.active {
    width: 18vw;
  }
}

.dashboard-user-section {
  color: white;
  width: auto;
  height: 95px;
  align-self: center;
  margin: 3% 3% 1.5% 3%;
  display: flex;
  flex-direction: column;
}

.dashboard-user-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-user-info-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dashboard-user-info-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 12% 0 10% 10%;
}
