.room-container {
  width: 100%;
  height: 62vh;
  display: flex;
  flex-direction: row;
  margin: 1% 0 -1% 0;
}

.room-content {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.room-info {
  width: 98%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-bottom: 2px solid #dddddd;
}

.room-info-room-details {
  width: 33%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-weight: bold;
  margin-right: -5%;
}

.room-info-room-name {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 1.4rem;
  gap: 4%;
  overflow: hidden;
  white-space: nowrap;
}

.room-name-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  margin-left: 5%;
}

.room-info-room-name-edit-button {
  cursor: pointer;
}

.room-info-room-name-accept-button {
  cursor: pointer;
  font-weight: bold;
}

.room-info-room-name-change-name-input {
  width: 100%;
  height: 80%;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #dddddd;
  border: none;
  padding-left: 5%;
  overflow: hidden;
  white-space: nowrap;
}

.room-info-room-name-change-name-input:focus {
  outline: none;
}

.room-info-room-privacy-container,
.room-info-room-privacy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 0.9rem;
  gap: 3%;
  color: #666666;
}

.room-privacy-title {
  margin-left: 5%;
}

.room-password-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.room-info-room-password-edit-button {
  font-size: 1.2rem;
  cursor: pointer;
}

.room-info-room-password-accept-button {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.room-info-room-public-button {
  cursor: pointer;
  margin-left: -3%;
}

.room-info-room-password-change-password-input {
  width: 100%;
  height: 80%;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #dddddd;
  border: none;
  padding-left: 5%;
  overflow: hidden;
  white-space: nowrap;
  color: #333333;
}

.room-info-room-password-change-password-input:focus {
  outline: none;
}

.room-password-length-error {
  color: rgb(190, 3, 0);
  background-color: #f8d7da;
  font-size: 0.8rem;
}

.room-info-game-rules-container {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.room-info-game-rule {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.24rem;
  font-weight: bold;
  gap: 2%;
}

.room-info-game-rule-title {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

.room-social {
  width: 98%;
  height: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.players-list-container {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 5%;
}

.players-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 6%;
}

.player-box-container {
  width: 95%;
  height: 17%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;

  &.add-player {
    background-color: #bebebe;
  }
}

#player-box-add-button,
#player-box-remove-button {
  color: #868686;
  font-size: 1.8rem;
  cursor: pointer;
}

.player-box {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.player-box-player-info {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5%;
}

.player-box-avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-box-avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.player-box-player-info-details {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  font-weight: bold;
}

.player-box-player-name {
  font-size: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
}

.player-box-player-status {
  font-size: 0.8rem;
}

#player-box-player-status-ready {
  color: rgb(0, 156, 62);
}

#player-box-player-status-idle {
  color: rgb(146, 146, 146);
}

#player-box-player-status-playing {
  color: rgb(0, 101, 163);
}

#player-box-kick-button {
  position: absolute;
  right: -5%;
  top: -15%;
  font-size: 1.2rem;
  color: rgb(146, 59, 58);
  background-color: #eeeeee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
